body {
  font-family: "Poppins", sans-serif;
  margin: 0 7%;
}
.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-title {
  font-size: 60px;
  border-left: 5px solid #ff5959;
}
.title-color {
  color: #ffad5a;
}
.header-details {
  width: 50%;
}
.header-btn {
  background-color: #ff5959;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 12px 25px;
  /* width: 172px;
  height: 48px; */
  cursor: pointer;
}
.header-section img {
  width: 470px;
  height: 600px;
}
#my-mission-title {
  text-align: center;
  font-size: 60px;
}
.my-mission-2022 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my-mission-details {
  width: 360px;
  height: 320px;
}
.my-mission-2022 img {
  height: 141px;
  width: 141px;
}
#mission {
  background-color: #4f9da629;
  border-radius: 26px;
  padding: 25px;
  margin: 30px;
}
#Vission {
  background-color: #ff59592c;
  border-radius: 26px;
  padding: 25px;
  margin: 30px;
}
#Goals {
  background-color: #fff4d6;
  border-radius: 26px;
  padding: 25px;
  margin: 30px;
}

.develop-coding {
  background-image: url(images/shapes/shape-10.png);
  background-repeat: no-repeat;
  margin-top: 40px;
  display: flex;
}
.develop-coding img {
  width: 400px;
  height: 400px;
}
#develop-detail {
  padding-left: 10%;
}

.develop-details h1 {
  font-size: 36px;
}

#global-commuinity-para {
  width: 80%;
}
