body {
  font-family: "Yeseva One", cursive;
  margin: 0 7%;
}
.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-title {
  font-size: 60px;
  border-left: 5px solid #ff5959;
}
#title-color {
  color: #ffad5a;
}
.header-details {
  width: 50%;
}
.header-btn {
  background-color: #ff5959;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px;
  width: 172px;
  height: 48px;
  cursor: pointer;
}
.header-section img {
  width: 470px;
  height: 600px;
}
