body {
  font-family: "Poppins", sans-serif;
  /* margin: 0% 7%; */
}
.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 7%;
}
.header-title {
  font-size: 60px;
  border-left: 5px solid #ff5959;
}
.title-color {
  color: #ffad5a;
}
.header-details {
  width: 50%;
}
.header-btn {
  background-color: #ff5959;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 12px 25px;
  /* width: 172px;
  height: 48px; */
  cursor: pointer;
}
.header-section img {
  width: 470px;
  height: 600px;
}
#my-mission-title {
  text-align: center;
  font-size: 60px;
}
.my-mission-2022 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 7%;
}
.my-mission-details {
  width: 360px;
  height: 320px;
}
.my-mission-2022 img {
  height: 141px;
  width: 141px;
}
#mission {
  background-color: #4f9da629;
  border-radius: 26px;
  padding: 25px;
  margin: 30px;
}
#Vission {
  background-color: #ff59592c;
  border-radius: 26px;
  padding: 25px;
  margin: 30px;
}
#Goals {
  background-color: #fff4d6;
  border-radius: 26px;
  padding: 25px;
  margin: 30px;
}
.develop-background {
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 227px;
  background-position: 0% 50%;
}
.develop-coding {
  display: flex;
  margin-top: 40px;
  width: 92%;
}
.develop-coding img {
  margin-left: 28%;
  width: 400px;
  height: 400px;
}
#develop-detail {
  padding-left: 20%;
}

.develop-details h1 {
  font-size: 36px;
}
.global-community {
  display: flex;
  margin-top: 40px;
  margin-left: 7%;
}
.global-community img {
  width: 400px;
  height: 400px;
  margin-left: 30%;
}
.global-community h1 {
  font-size: 36px;
}
.global-community-details {
  width: 50%;
}
.global-community-background {
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 227px;
  background-position: 98% 95%;
}

#contact {
  color: #ffad5a;
  text-align: center;
  font-size: 36px;
  margin-top: 5%;
}
.contact-section {
  display: flex;
  align-items: center;
  margin: 0 7%;
  border: 2px solid grey;
  padding: 10px;
  box-shadow: 1px 1px 15px 2px grey;
}
.input-field {
  width: 50%;
  text-align: center;
}

.input-style {
  font-size: 15px;
  padding: 10px;
  padding-left: 50px;
  border: 2px solid grey;
  border-radius: 5px;
}
#email-send {
  background-color: rgb(0, 119, 255);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
}

footer {
  margin: 0 7%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px;
}
